<% content_for :page_title, "potential rümies" %>
<div class="row">
  <div class="small-8 small-centered columns">
    <h1 class="text-center">users on nü rümie</h1>
  </div>
</div>
<div id="users"></div>
