<% content_for :page_title, 'About Nu Rumie' %>
<div class="column row">
  </br>
</div>
<div class="row align-center">
  <div class="small-12 large-6 columns">
    <h3>the new american dream.</h3>
    <p>
      hey, we get it.
    </p>
    <p class="text-justify">
      it's tough out there. it's not like houses with white-picket fences
      just drop from trees, right?
    </p>
    <p class="text-justify">
      maybe you're just starting out on your own, or re-starting. perhaps home
      ownership isn't your schtick or you love flexibility of the renter's life?
    </p>
    <p class="text-justify">
      either way, you're here because you're looking for a place to live, and
      some awesome people to live with.
    </p>
  </div>
  <div class="small-12 large-6 columns">
    img place-holder
  </div>
</div>
<div class="column row">
  </br>
</div>
<div class="row align-center">
  <div class="small-12 large-6 columns">
    img place-holder
  </div>
  <div class="small-12 large-6 columns">
    <h3>so how does nu rumie help me?</h3>
    <p class="text-justfiy">
      simple. we connect you with people that like the same stuff you do.
    </p>
    <p class="text-justify">
      once you're signed in, simply complete our personality quiz and we'll find
      other people that are into what you're into.
    </p>
    <p class="text-justify">
      find a couple people you mesh well with, and you can form a Rumie group
      with them. once you're 'rumies', you can chat with them and start looking
      for a place to move in to.
    </p>
    <p class="text-center">
      <strong>yeah. it's that easy.</strong>
    </p>
  </div>
</div>
<div class="column row">
  <p class="text-center">
    so what are you waiting for? 
  </p>
</div>
