<% content_for :page_title, "sign up for nü rümie" %>

<div class="vert-centered">
  <div class="row">
    <div class="small-8 small-centered columns">
      <h2 class="text-center">let's get started!</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-8 small-centered columns">
      <p class="text-center">
        we just need to know, are you on nü rümie to find rümies and a place to
        live? or are you looking to lease your properities?
      </p>
    <div>
  </div>

  <div class="row">
    <div class="small-6 columns">
      <div class="small-6 small-centered columns">
        <p class="hollow button white">i'm a tenant!<p>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="small-6 small-centered columns">
        <p class="hollow button white">i'm a landlord!<p>
      </div>
    </div>
  </div>
</div>
