<% content_for :page_title, 'Nu Rumie' %>

<div class="orbit" role="region" aria-label="nu rumie navigator" data-orbit>
  <ul class="orbit-container">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="orbit-slide is-active">
      <div class="slide-content">
        <div class="">
          <% if current_user %>
            <h1 class="text-center">hi <%=current_user.first_name%>!</h3>
          <%end%>
          <h1 class="text-center">welcome to nu rumie!</h3>
          <% if current_user %>
            <div class="text-center">
              <%= link_to "view your profile", current_user, class: 'hollow button white' %>
            </div>
          <%end%>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="slide1">
        <h1 class="text-center">ready to find some rumies?</h3>
        <h2 class="text-center">click the button below to view available rumie groups!</h4>
        <div class=text-center>
          <%= link_to "check out available rumies", rumie_groups_path, class:'hollow button white' %>
        </div>
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
  </nav>
</div>
