<% content_for :page_title, 'Nu Rumie' %>

<div class="row">
  <div class="small-12 columns">
    <div class="small-6 columns">
      img placeholder
    </div>
    <div class="small-6 columns">

    </div>
  </div>
</div>
