<!DOCTYPE html>
<html>
  <head>
    <title>Nu Rumie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Nu Rumie</li>
          <li>About Us</li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
